@import "tailwindcss";

:root {
  font-family: "Roboto", sans-serif;
  --text-9xl: 5rem;
  --text-8xl: 4.5rem;
  --text-7xl: 4rem;
  --text-6xl: 3.5rem;
  --text-5xl: 4rem;
  --text-4xl: 2.5rem;
  --text-3xl: 2rem;
  --text-2xl: 1.5rem;
  --text-xl: 1.25rem;
  --text-lg: 1.125rem;
  --text-base: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;
  --text-xxs: 0.625rem;
  --bg-01: #f8f9fa;
  --bg-02: #e9ecef;
  --bg-03: #dee2e6;
  --bg-04: #ced4da;
  --text-01: #212529;
  --text-02: #495057;
  --text-03: #6c757d;
  --text-04: #adb5bd;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --bg-01: #181a1b;
    --bg-02: #23272a;
    --bg-03: #2c2f33;
    --bg-04: #36393f;
    --text-01: #f8f9fa;
    --text-02: #dee2e6;
    --text-03: #adb5bd;
    --text-04: #6c757d;
  }
}
*/

body {
  background-color: var(--bg-01);
  color: var(--text-01);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

.bg-01 {
  background-color: var(--bg-01);
}
.bg-02 {
  background-color: var(--bg-02);
}
